In [1]:
import pandas as pd

In [7]:
population2030_2040 = pd.read_excel('./population_data/population-2030-2040.xlsx')
population2030_2040.head()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4.0,Afghanistan,2030.0,0-4,0.0,5.0,3020.571,2871.955,5892.526
1,8.0,Albania,2030.0,0-4,0.0,5.0,68.824,63.581,132.405
2,12.0,Algeria,2030.0,0-4,0.0,5.0,2116.681,2026.749,4143.430
3,24.0,Angola,2030.0,0-4,0.0,5.0,3714.206,3649.187,7363.393
4,28.0,Antigua and Barbuda,2030.0,0-4,0.0,5.0,3.452,3.354,6.806